:root {
  --primary: #263849;
  --secondary: #41506b;
  --highlight: #35bcbf;
  --text: #90f6d7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: var(--text);
}

header {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.choices {
  display: flex;
  justify-content: center;
  padding: 25px;
  gap: 100px;
}

.choice {
  font-size: 64px;
  background-color: var(--highlight);
  border-radius: 8px;
  height: 100px;
  width: 100px;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.scoreboard {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score {
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.log {
  font-size: 24px;
  text-align: center;
  width: 450px;
  height: 35px;
}

.choice-emoji {
  font-size: 84px;
}

#restart {
  margin-top: 100px;
  font-size: 64px;
  font-weight: bold;
  color: var(--primary);
  background-color: var(--highlight);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 15px;
}
